@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);

$title-color    : #E8EAEE;
$navbar-blue    : #193050;

$title-font: 'Fredericka the Great', cursive;
$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;