<div class="row backgrounddetaildiv">
    <div class="row small-12 throwsometoppads">
        <div class="column small-9">
            <div class="row small-6">
                <h1 class="pageheaderwords">{{course.name}}</h1>
            </div>
            <div class="row small-6">
                <p class="pagesubheaderwords">Average Rating: {{ratingAverage | number:2}}</p>
            </div>
        </div>
        <div class="column small-3">
        <a ng-href="#/review/course/{{course._id}}" class="button radius column small-11 sexiibutton success">Add a Review</a>
        </div>
    </div>

    <table>
        <tr>
            <td class="bolddatshit">Top Professor:</td>
            <td class="bolddatshit">Average Rating:</td>
        </tr>
        <tr ng-repeat="rating in topProfs | orderBy: 'rating.rating'">
            <td>{{rating.name}}</td>
            <td>{{rating.rating | number:2}}</td>
        </tr>
    </table>

    <div ng-repeat="review in reviews" class="individualreviewwrapper">
        <div class="row">

            <div class="small-1 columns">
                {{review.rating | number:2}}

                <p>{{review.votes}}</p>
                <a ng-click="upvote($index)"><i class="fa fa-angle-up fa-3x"></i></a>
                <a ng-click="downvote($index)"><i class="fa fa-angle-down fa-3x"></i></a>
            </div>
            <div class="small-11 columns">
                <h3>{{review.title}}</h3>

                <p>{{review.body}}</p>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <p>Comments:</p>
                <div ng-repeat="comment in review.commentList">
                    <strong>{{comment.userName}}</strong>: {{comment.body}}
                </div>

                <form ng-submit="submitComment($index)">
                    <input placeholder="Add a comment..." type="text" name="comment" maxlength="75" ng-model="review.userInput"/>
                </form>
            </div>
        </div>
    </div>
</div>