<div class="row">
    <h1>{{professor.name}}</h1>

    <a ng-href="#/review/professor/{{professor._id}}">Add a review</a>

    <p>Average Rating: {{ratingAverage | number:2}}</p>

    <div ng-repeat="rating in topCourses | orderBy: 'rating.rating'">
        <h4>{{rating.name}}</h4>

        <p>{{rating.rating | number:2}}</p>
    </div>

    <div ng-repeat="review in reviews">
        <div class="row">
            <!--{{review}}-->
            <div class="small-1 columns">
                {{review.rating | number:2}}

                <p>{{review.votes}}</p>
                <a ng-click="upvote($index)">+</a>
                <a ng-click="downvote($index)">-</a>
            </div>
            <div class="small-11 columns">
                <h3>{{review.title}}</h3>

                <p>{{review.body}}</p>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <p>Comments:</p>
                <div ng-repeat="comment in review.commentList">
                    <strong>{{comment.userName}}</strong>: {{comment.body}}
                </div>

                <form ng-submit="submitComment($index)">
                    <input placeholder="Comments" type="text" name="comment" maxlength="75" ng-model="review.userInput"/>
                </form>
            </div>
        </div>
    </div>
</div>